---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import { Sun, Moon, Monitor } from "lucide-astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2024 {`|`}
        {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Sun
            className="mx-auto h-5 w-5 group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-200"
          />
        </button>
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Moon
            className="mx-auto h-5 w-5 group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-200"
          />
        </button>
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Monitor
            className="mx-auto h-5 w-5 group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-200"
          />
        </button>
      </div>
    </div>
  </Container>
</footer>
